body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #a4effa;
    color: #010101;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin-top: 20px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #8ee859;
    background-color: #d8e21b;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cell:hover {
    background-color: #89f661;
  }
  
  .result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  